/*Common Style */
* {
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/*Header Section Style*/
.header {
    display: flex;
    justify-content: space-around;
    background-color: #E554731A;
    height: 850px;
    align-items: center;
    width: 1920px;
    font-size: 20px;
    gap: 80px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.header-content {
    padding-left: 220px;
    padding-top: 220px;
    padding-bottom: 147px;
    width: 50%;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border-style: none;
    width: 177px;
    height: 68px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.header-img {
    padding-top: 50px;
    padding-right: 220px;
}

/*main Section Style */

/*featured Flower Section style*/


#featured-flower-title{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
padding-top: 170px;


}

.featured-flower-section{
    width: 1920px;
    border: #111010 1px solid ;
}

.featured-flower-images{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 200px;
    width: 1440px;
    border:red 1px solid ;
}

#feature-image-1{
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 280px;
    height: 480px;
    padding: 100px 70px 0px 70px;
    
}

#feature-image-2{
    width: 410px;
height: 535px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 30px 20px 30px 20px;
  
}

#feature-image-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 430px;
    height: 600px;
   padding: 20px 10px 0px 10x;
    


}


/*sale Section */
.sale-section {
    margin-top: 128px;
    display: flex;
    width: 1920px;
    height: 620px;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    align-items: center;
    gap: 90px;


}

.section-content {
    width: 50%;
    text-align: center;
    padding: 230px 10px 180px 380px;
}

.section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 24px;
}

.section-img {

    padding: 100px 430px 100px 10px;

}

/*instagram section style */
.insta-section {
    text-align: center;
    padding-top: 128px;
}

/*Picture Section style */
.picture {
    display: flex;
    justify-content: space-around;
    gap: 20px;
   border: #111010 1px solid;
   margin:10px 200px 130px 200px;
   width: 1440px;
}

/*Latest deal section Style */
.lastest-deal-section {
    background-image: url("../Images/Rectangle 9.png");
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    margin-left: 200px;
    margin-right: 200px;
}

#lastest-deal-title {
    text-align: center;
    padding-top: 150px;

}

input {
    width: 700px;
    height: 66px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding-left: 22px;
    text-align: left;
}

.contact {
    padding-top: 10px;
    display: flex;
    padding-left: 280px;
    padding-right: 280px;
    justify-content: space-around;
    gap: 15px;
}

/*Style Footer Section"*/

.footer-section {
    width: 1920px;
    height: 440px;
    background: #111010;
    color: #FFF;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.footer-title {
    color: white;
    font-size: 48px;
    font-weight: 800;
    text-align: center;

}

span {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.footer-section {
    margin-top: 130px;
    padding-top: 128px;
}

.footer-description{
    padding-top: 32px;
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
}

#footer-copyright {
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
padding-top: 32px;
    
}